*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 100px;
  background-color: #5C1F7A;
}
main{
  min-height: 200px;
  background-color: #fff;
  border: 1px dashed red;
}
footer{
  height: 70px;
  background-color: #0099CC;
  border: 1px solid green;
}